h2 {
  color: white;
}
p {
  margin: 18px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: white;
}
.Display {
  width: 100%;
  min-height: calc(100vh - 145px);
  align-items: center;
  border: 3px rgb(255, 255, 24) solid;
  background-color: rgba(0, 0, 0, 0.726);
  margin: auto;
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.582);
  color: black;
}
.modalMessage {
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
}
.modalMessage > p {
  margin: 0;
}
.Navbar {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0em;
  margin-top: 0;
}
.Navbar > li {
  list-style: none;
  padding: 0;
  margin: 5px;
  margin-bottom: 8px;
  flex-grow: 1;
  font-size: 1em;
  color: white;
  box-sizing: border-box;
}
button {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-grow: 1;
  font-size: 1em;
  color: black;
  background-color: white;
  border: solid black;
  box-sizing: border-box;
}
