.MessageBox {
  background-color: rgba(0, 0, 0, 0.329);
  border: rgba(117, 117, 245, 0.767) double 4px;
  border-left: white none;
  border-right: none;
  /* border-top: none; */
  color: white;
  font-size: 1.5em;
  padding: 0.3em;
  display: flex;
  align-items: center;
  margin: auto;
  height: 40px;
}
.ProfilPic {
  margin-top: 55%;
}
@media screen and (max-width: 344px) {
  .ProfilPic {
    margin-top: 61%;
  }
}
@media screen and (min-width: 410px) {
  .ProfilPic {
    margin-bottom: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 400px) {
  .ProfilPic {
    margin-top: 48%;
  }
}
